html, body { height: 100%; margin: 0; }
canvas { display: block; width: 100%; height: 100%; }

:root {
    --ui-bg-color: #eee;
    --ui-bg-color-hover: #ddd;

    --ui-text-color: #333;
    --ui-text-color-hover: #111;

    --ui-font-size-small: 15px;
    --ui-font-size-medium: 20px;
    --ui-font-family-normal: Tahoma, Geneva, Verdana, sans-serif;

    --ui-button-color: #eee;
    --ui-button-border-radius: 8px;
}

#controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

#controlPanel {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

#controlPanel .button #settings {
    font-size:xx-large;
}

#stats {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: var(--ui-button-border-radius);
    background-color: var(--ui-bg-color);
    color: var(--ui-text-color);
    font-size: var(--ui-font-size-small);
    font-family: var(--ui-font-family-normal);
}

button {
    font-size: var(--ui-font-size-medium);
    padding: 10px 15px;
    border: none;
    border-radius: var(--ui-button-border-radius);
    background-color: var(--ui-button-color);
    color: var(--ui-text-color);
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: var(--ui-bg-color-hover);
}

#equationBox {
    position: fixed;
    top: 0px;
    left: 0;
    width: 300px;
    height: 100%;
    background: var(--ui-bg-color);
    color: var(--ui-text-color);
    padding: 10px;
    overflow-y: auto;
    transform: translateX(0%);
    transition: transform 0.3s;
    outline: solid;
    outline-width: 2px;
}

#equationBox.open {
    transform: translateX(0);
}

#equationBox h1 {
    user-select: none;
}

#equationPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.equationRow {
    width: auto;
    min-height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    outline: solid;
    outline-width: 2px;
    display: flex;
    flex-direction: row;
} 

.equationEdit {
    outline: solid;
    outline-width: 2px;
    width: 40px;
    min-width: 40px;
}

.equationEdit button {
    margin: -5px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    margin-top: 50%; 
    margin-left: 50%; 
    transform: translate(-50%, -50%);
    outline: solid;
    outline-width: 2px;
    opacity: 20%;
}

.equationEdit button.visible {
    opacity: 100%;
}

.equationWrapper {
    font-size: 110%;
    margin-top: auto;
    margin-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 12px;
    vertical-align: baseline;
}

.equationResult {
    position: relative;
    right: 0;
    margin-top: 2px;
    height: auto;
    max-width: 218px;
    overflow-x: clip;
    outline: solid;
    outline-width: 2px;
}

.equation {
    min-width: 218px;
    max-width: 218px;
    border-bottom: 0;
    overflow: hidden;
}

#equationBox button {
    font-family: serif;
}

#equationBox h1 {
    margin-top: 0;
    text-align: center;
    font-family: serif;
}

/* .equationList {
    
} */

#toggleBox {
    position: fixed;
    top: 22px;
    left: 0;
    padding: 5px 10px;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.menu {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    font-family: var(--ui-font-family-normal);

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: left;
    width: 450px;
    height: 900px;
    overflow: scroll;
}

.modal-inner h2 {
    user-select: none;
    margin: 0;
}

.modal-inner p {
    line-height: 24px;
    margin: 20px 0;
}

.modal-inner button {
    padding: 4px 4px;
    border-radius: 4px;
}

  .checkbox-wrapper-28 {
    --size: 25px;
    position: relative;
  }

  .checkbox-wrapper-28 *,
  .checkbox-wrapper-28 *:before,
  .checkbox-wrapper-28 *:after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-28 .promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox-wrapper-28 input:checked ~ svg {
    height: calc(var(--size) * 0.6);
    -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
            animation: draw-checkbox-28 ease-in-out 0.2s forwards;
  }
  .checkbox-wrapper-28 label:active::after {
    background-color: #e6e6e6;
  }
  .checkbox-wrapper-28 label {
    color: #0080d3;
    line-height: var(--size);
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-28 label:after {
    content: "";
    height: var(--size);
    width: var(--size);
    margin-right: 8px;
    float: left;
    border: 2px solid #0080d3;
    border-radius: 3px;
    transition: 0.15s all ease-out;
  }
  .checkbox-wrapper-28 svg {
    stroke: #0080d3;
    stroke-width: 3px;
    height: 0;
    width: calc(var(--size) * 0.6);
    position: absolute;
    left: calc(var(--size) * 0.21);
    top: calc(var(--size) * 0.2);
    stroke-dasharray: 33;
  }

  @-webkit-keyframes draw-checkbox-28 {
    0% {
      stroke-dashoffset: 33;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes draw-checkbox-28 {
    0% {
      stroke-dashoffset: 33;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
